body {
  background-color: #4B0082;
}
@media screen and (min-width: 1900px){
  html{
    font-size: 130%;
  }
}
@media screen and (max-width: 600px){
  html{
    font-size: 70%;
  }
}
.container{
  background-color: #4B0082;
  grid-gap: 0.625rem;
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows : 10%, 15%, 65%, 10%; 
  grid-gap: 1%;
  grid-template-areas:
    "left title title right"
    "left picture picture right"
    "left quotes Timeline right"
    "footer footer footer footer"
  
}
.kobe-title{
  background: rgb(255, 204, 0);
  grid-area: title;
}

.kobe-picture{
  background: #4B0082;
  grid-area: picture;
}
.kobe-picture img{
  width: 90%;
  cursor: pointer;
}
.kobe-timeline{
  grid-area: Timeline;
}
.kobe-quotes{
  grid-area: quotes;
  background: rgb(255, 204, 0);
  
}
.kobequotemachine{
  grid-area: quotemachine;
}
.kobe-extrapic{
  grid-area: extra;
  width: 60%;
  height: 30%;

}
.kobe-footer{
  grid-area: footer;
}
.purple-color{
  color: #4B0082;
}
.gold-color{
  color: rgb(255, 204, 0);
}
.verticalspacing{
  margin-bottom: 3cm;
}
li{
  margin-bottom: 1cm;
  font-size: 1.25rem;
  font-weight: bold;
}
h1{
  font-size: 5rem;
}
p{
  font-size: 1.25rem;
}
h3{
  font-size: 1.5rem;
}
a{
  font-weight: bold;
}
button{
  cursor: pointer;
  font-weight: bold;
  background-color: #4B0082;

}